version: '3'

services:
  app:
    container_name: advertisement_api
    build: docker/app
    ports:
      - 8080:8080
    restart: on-failure
    env_file:
      - config.env.local
    depends_on:
      - db
    links:
      - db

  db:
    build: docker/database
    container_name: advertisement_db
    env_file:
      - config.env.local