version: "3.6"

services:
  app:
    container_name: advertisement_api
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    ports:
      - 8080:8080
    restart: on-failure
    env_file:
      - config.env.local
    depends_on:
      - db
    links:
      - db

  db:
    build: docker/database
    container_name: advertisement_db
    env_file:
      - config.env.local